*{
    text-decoration: none;
    color: darkslateblue;
}
body{
    background-color: wheat;
    text-align:center;
}
h1{

    font-size: 40px;
}

.informacoes{
    text-align: left;
}
.informacoesphp{
    margin-left: 30%;
    text-align: left;
}
select{
    font-size: 40px;
    background-color: transparent;
    border-color: blueviolet;
}
button{
    font-size: 40px;
    background-color: transparent;
    border-color: blueviolet;

}